*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS PARA O NAVBAR DO TOPO */

.container-navbar{
    height: 30.5vh;
    width: 100%;
    max-width: 100%;
}

.navbar-nav {
    padding-left: 520px!important;
}

.nav-top{
    background-color: #ff0000;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.nav-top p{
    color: #fff;
}

.nav-top .btn-nav-top{
    display: flex;
    gap: 15px ;
    position: absolute;
    right: 0;
    padding: 0 20px;
}

.btn-nav-top ul{
    list-style: none;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
}

.btn-nav-top .btn-icon:hover{
    opacity: 0.6;
    color: black;
}

.btn-nav-top-icon{
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 0 20px;
}
.btn-nav-top-icon i{
    color: #ffffff;
}

/* FINAL DO CSS PARA O NAVBAR DO TOPO */

/* CSS PARA O NAVBAR DO MEIO */

.nav-middle{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.imagem{
    position: absolute;
    left: 20px;
}

.imagem img{
    height: 300px;
    width: 300px;
}

.btn-nav-middle-icon1 ul{
    list-style: none;
}
.btn-nav-middle-icon2 ul{
    list-style: none;
}

.btn-nav-middle-icon1{
    display: flex;
    gap: 20px   ;
    color: #fff;
    cursor: pointer;
}

.btn-nav-middle-icon2{
    display: flex;
    gap: 20px;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
}

.btn-nav-middle-icon3{
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

.btn-nav-middle-icon1:hover{
    opacity: .6;
}

.btn-nav-middle-icon2:hover{
    opacity: .6;
}

.btn-nav-middle-icon3:hover{
    opacity: .6;
}

.btn-nav-middle-principal{
    position: absolute;
    right: 7%;
    padding: 0 30px;
    display: flex;
    gap: 15px;
}

.pesquisa{
    position: absolute;
    right: 40%;
}

.pesquisa input{
    width: 27rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 2px solid #ff0000;
    cursor: pointer;
}

.pesquisa input::-webkit-input-placeholder {
    padding: 0 10px;
}

.pesquisa i{
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 9px;
    color: #ff0000;
    cursor: pointer;
}

/* FINAL DO CSS PARA O NAVBAR DO MEIO */


/* CSS PARA A NAVBAR DE BAIXO */


.nav-bottom{
    background-color: #D1D5D1;
    height: 50px;
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.categorias-btn-bottom{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}

.icone-sandwiche{
    display: flex;
    gap: 15px ;
    align-items: center;
    justify-content: center;
}

.icone-sandwiche:hover{
    opacity: .6;
}

.categorias-btn-bottom ul{
    list-style: none;
}

.categorias-btn-bottom select{
    height: 40px;
}

.efeito-regiao{
    display: flex;
    gap: 15px   ;
    background-color: #D1D5D1;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    border-right: 2px solid rgba(133, 133, 133, .9);
}

.efeito-regiao i{
    color: #ff0000;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn5:hover{
    opacity: .6;
}

.btn3 a, .btn2 ul,li,a, .btn5 ul,li,a{
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

/* FINAL DO CSS PARA O NAVBAR DE BAIXO */

/* INICIO DO CSS PARA O FAQ */

.faq-container{
    margin-top: 150px;
    height: 50vh;
    width: 100%;
    background-color: #000000;
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 60px 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.faq-container ul{
    list-style: none;
    color: #fff;
    cursor: pointer;
}

.institucional{
    display: flex;
    flex-direction: column;
    gap: 15px   ;
    color: #fff;
}

.institucional h3{
    font-weight: bold;
    border-bottom: 2px solid #ff0000;
}

.ajuda{
    display: flex;
    flex-direction: column;
    gap: 15px   ;
    color: #fff;
}

.ajuda h3{
    font-weight: bold;
    border-bottom: 2px solid #ff0000;
}

.acompanhe-nos i{
    color: white;
    padding: 20px 10px;
    font-size: 30px;
}

.acompanhe-nos h3{
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #ff0000;
}

.pagamentos img{
    padding: 10px;
}

.pagamentos h3{
    color: #fff;
    border-bottom: 2px solid #ff0000;
}


/* SECTION INICIO */

.section-container{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
    padding: 20px;
}


.recomendados-content{
    border: 2px solid black;
    width: 500px;
    height: 210px;
    position: relative;
    top: 70px;
    padding: 0px 15px;
}

.recomendados-content img{
    width: 210px;
    padding: 0px 10px;
    height: 200px;
}

.paragrafh{
    position: relative;
    top: 80px;
    font-size: 20px;
    background-color: #ff0000;
    height: 50px;
}

.paragrafh h2{
    position: relative;
    left: 20px;
    color: #fff;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recomendados-content:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.recomendados-content .foto-bugada{
    width: 150px;
    height: 150px;
    position: relative;
    top: 20px;
    left: 30px;
}